
form{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 25px;
    background-color: rgb(250, 248, 248);
    border-radius: 10px;
}

h1{
    margin-top: 10px;
    color: honeydew;
    text-align: center;
}

.background{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("./image/background_login.png");
}
