form{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    padding: 25px;
    background-color: rgb(250, 248, 248);
    border-radius: 10px;
}

.background_registration_confirmed{
    position: static;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("./image/background_registration.png");
}

.upper{
    font-size: 20px;
}